.h1 {
   font-size: 6.25rem;
   line-height: 4.375rem;
   font-weight: 400;
   color: $white-color;
   font-family: 'Marcellus',
}

.h2 {
   font-size: 1.75rem;
   line-height: 1.25rem;
   font-weight: 700;
   color: $white-color;
}

.body {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: $primary-color;
   font-weight: 400;
}